#headr{
	height: 13%;
	width: 100%;
	margin-bottom: 10px;
}
#top{
	float: left;
	background-color: #999999;
	height: 100%;
	width: 19%;
	clear: both;
}
.pentuplets{
	float:right;
	height:30px;
	width: 60px;
	background-color: #999999;
	margin-left: 10px;
	margin-top: 25px;

}

#vRectangle{
	background-color: #999999;
	float: left;
	width: 15%;
	height: 73%;
}
#sHeader{
	background-color: #999999;
	float:right;
	height: 88px;
	width: 667px;
	margin-bottom: 10px;
}
#mblock{
	background-color: #999999;
	float: left;
	height: 300px;
	width: 497px;
	margin-left: 10px;
}
#blockito{
	background-color: #999999;
	float: left;
	margin-left: 10px;
	height: 300px;
	width: 160px;

}
.quad{
	background-color: #999999;
	float: left;
	margin-left: 10px;
	height: 88px;
	width: 159px;
	margin-top: 10px;
	margin-bottom:10px; 
}
#footr{
	height: 78px;
	width: 796px;
	background-color: #999999;
	bottom: 0;
	clear: both;
	margin-top: 10px;
}